FORMAT: 1A
HOST: https://api.trakt.tv

# Trakt API

At Trakt, we collect lots of interesting information about what tv shows and movies everyone is watching. Part of the fun with such data is making it available for anyone to mash up and use on their own site or app. The Trakt API was made just for this purpose. It is very easy to use, you basically call a URL and get some JSON back.

More complex API calls (such as adding a movie or show to your collection) involve sending us data. These are still easy to use, you simply POST some JSON data to a specific URL.

Make sure to check out the [**Required Headers**](#introduction/required-headers) and [**Authentication**](#reference/authentication-oauth) sections for more info on what needs to be sent with each API call. Also check out the [**Terminology**](#introduction/terminology) section insight into the features Trakt supports.

# Create an App
To use the Trakt API, you'll need to [**create a new API app**](https://trakt.tv/oauth/applications/new).

# Stay Connected
API discussion and bugs should be posted in the [**GitHub Developer Forum**](https://github.com/trakt/api-help/issues) and *watch* the repository if you'd like to get notifications. Make sure to follow our [**API Blog**](https://apiblog.trakt.tv) and [**@traktapi on Twitter**](https://twitter.com/traktapi) too.

# API URL
The API should always be accessed over SSL.

```
https://api.trakt.tv
```

If you would like to use our sandbox environment to not fill production with test data, use this URL over SSL.

```
https://api-staging.trakt.tv
```

> ### 🅽🅾🆃🅴
> _Staging is a completely separate environment, so you'll need to [**create a new API app on staging**](https://staging.trakt.tv/oauth/applications/new)._

# Verbs
The API uses restful verbs.

| Verb | Description |
|---|---|
| `GET` | Select one or more items. Success returns `200` status code. |
| `POST` | Create a new item. Success returns `201` status code. |
| `PUT` | Update an item. Success returns `200` status code. |
| `DELETE` | Delete an item. Success returns `200` or `204` status code. |

# Status Codes
The API will respond with one of the following HTTP status codes.

| Code | Description |
|---|---|
| `200` | Success
| `201` | Success - *new resource created (POST)*
| `204` | Success - *no content to return (DELETE)*
| `400` | Bad Request - *request couldn't be parsed*
| `401` | Unauthorized - *OAuth must be provided*
| `403` | Forbidden - *invalid API key or unapproved app*
| `404` | Not Found - *method exists, but no record found*
| `405` | Method Not Found - *method doesn't exist*
| `409` | Conflict - *resource already created*
| `412` | Precondition Failed - *use application/json content type*
| `420` | Account Limit Exceeded - *list count, item count, etc*
| `422` | Unprocessable Entity - *validation errors*
| `423` | Locked User Account - *have the user contact support*
| `426` | VIP Only - *user must upgrade to VIP*
| `429` | Rate Limit Exceeded
| `500` | Server Error - *please open a support ticket*
| `502` | Service Unavailable - *server overloaded (try again in 30s)*
| `503` | Service Unavailable - *server overloaded (try again in 30s)*
| `504` | Service Unavailable - *server overloaded (try again in 30s)*
| `520` | Service Unavailable - *Cloudflare error*
| `521` | Service Unavailable - *Cloudflare error*
| `522` | Service Unavailable - *Cloudflare error*

# Required Headers
You'll need to send some headers when making API calls to identify your application, set the version and set the content type to JSON.

| Header | Value |
|---|---|
| `Content-Type` <span style="color:red;">*</a> | `application/json` |
| `User-Agent` <span style="color:red;">*</a> | We suggest using your app and version like `MyAppName/1.0.0` |
| `trakt-api-key` <span style="color:red;">*</a> | Your `client_id` listed under your Trakt applications. |
| `trakt-api-version` <span style="color:red;">*</a> | `2` | API version to use.

All `POST`, `PUT`, and `DELETE` methods require a valid OAuth `access_token`. Some `GET` calls require OAuth and others will return user specific data if OAuth is sent. Methods that &#128274; **require** or have &#128275; **optional** OAuth will be indicated.

Your OAuth library should take care of sending the auth headers for you, but for reference here's how the Bearer token should be sent.

| Header | Value |
|---|---|
| `Authorization` | `Bearer [access_token]` |

# Rate Limiting
All API methods are rate limited. A `429` HTTP status code is returned when the limit has been exceeded. Check the headers for detailed info, then try your API call in `Retry-After` seconds.

| Header | Value |
|---|---|
| `X-Ratelimit` | `{"name":"UNAUTHED_API_GET_LIMIT","period":300,"limit":1000,"remaining":0,"until":"2020-10-10T00:24:00Z"}` |
| `Retry-After` | `10` |

Here are the current limits. There are separate limits for authed (user level) and unauthed (application level) calls. We'll continue to adjust these limits to optimize API performance for everyone. The goal is to prevent API abuse and poor coding, but allow users to use apps normally.

| Name | Verb | Methods | Limit |
|---|---|---|---|
| `AUTHED_API_POST_LIMIT` | `POST`, `PUT`, `DELETE` | all | 1 call per second |
| `AUTHED_API_GET_LIMIT` | `GET` | all | 1000 calls every 5 minutes |
| `UNAUTHED_API_GET_LIMIT` | `GET` | all | 1000 calls every 5 minutes |

# Locked User Account
A `423` HTTP status code is returned when the OAuth user has a locked or deactivated user account. Please instruct the user to [**email Trakt support**](mailto:support@trakt.tv) so we can fix their account. API access will be suspended for the user until we fix their account.

| Header | Value |
|---|---|
| `X-Account-Locked` | `true` or `false` |
| `X-Account-Deactivated` | `true` or `false` |

# VIP Methods
Some API methods are tagged 🔥 **VIP Only**. A `426` HTTP status code is returned when the user isn't a VIP, indicating they need to sign up for [**Trakt VIP**](https://trakt.tv/vip) in order to use this method. In your app, please open a browser to `X-Upgrade-URL` so the user can sign up for Trakt VIP.

| Header | Value |
|---|---|
| `X-Upgrade-URL` | `https://trakt.tv/vip` |

Some API methods are tagged 🔥 **VIP Enhanced**. A `420` HTTP status code is returned when the user has exceeded their account limit. Signing up for [**Trakt VIP**](https://trakt.tv/vip) will increase these limits. If the user isn't a VIP, please open a browser to `X-Upgrade-URL` so the user can sign up for Trakt VIP. If they are already VIP and still exceeded the limit, please display a message indicating this.

| Header | Value |
|---|---|
| `X-Upgrade-URL` | `https://trakt.tv/vip` |
| `X-VIP-User` | `true` or `false` |
| `X-Account-Limit` | Limit allowed. |

# Pagination
Some methods are paginated. Methods with &#128196; **Pagination** will load 1 page of 10 items by default. Methods with &#128196; **Pagination Optional** will load all items by default. In either case, append a query string like `?page={page}&limit={limit}` to the URL to influence the results.

| Parameter | Type | Default | Value |
|---|---|---|---|
| `page` | integer | `1` | Number of page of results to be returned. |
| `limit` | integer | `10` | Number of results to return per page. |

All paginated methods will return these HTTP headers.

| Header | Value |
|---|---|
| `X-Pagination-Page` | Current page. |
| `X-Pagination-Limit` | Items per page. |
| `X-Pagination-Page-Count` | Total number of pages. |
| `X-Pagination-Item-Count` | Total number of items. |

# Extended Info
By default, all methods will return minimal info for movies, shows, episodes, people, and users. Minimal info is typically all you need to match locally cached items and includes the `title`, `year`, and `ids`. However, you can request different extended levels of information by adding `?extended={level}` to the URL. Send a comma separated string to get multiple types of extended info.

> ### 🅽🅾🆃🅴
> _This returns a lot of extra data, so please only use extended parameters if you actually need them!_

| Level | Description |
|---|---|
| `images` | Minimal info and all images. |
| `full` | Complete info for an item. |
| `full,images` | Complete info and all images. |
| `metadata` | **Collection only.** Additional video and audio info. |

# Filters
Some `movies`, `shows`, `calendars`,  and `search` methods support additional filters and will be tagged with &#127898; **Filters**. Applying these filters refines the results and helps your users to more easily discover new items.

Add a query string (i.e. `?years=2016&genres=action`) with any filters you want to use. Some filters allow multiples which can be sent as comma delimited parameters. For example, `?genres=action,adventure` would match the `action` OR `adventure` genre.  *Please note*, subgenres are currently a technical preview.  We're currently in the process of smoothing this out.

> ### 🅽🅾🆃🅴
> _Make sure to properly URL encode the parameters including spaces and special characters._

#### Common Filters

| Parameter | Multiples | Example | Value |
|---|---|---|---|
| `query` | | `batman` | Search titles and descriptions. |
| `years` | | `2016` | 4 digit year or range of years. |
| `genres` | &#10003; | `action` | [Genre slugs.](#reference/genres) |
| `subgenres` | &#10003; | `android` | [Subgenre slugs.](#reference/subgenres) |
| `languages` | &#10003; | `en` | [2 character language code.](#reference/languages) |
| `countries` | &#10003; | `us` | [2 character country code.](#reference/countries) |
| `runtimes` | | `30-90` | Range in minutes. |
| `studio_ids` | &#10003; | `42` | Trakt studio ID. |

#### Rating Filters

Trakt, TMDB, and IMDB ratings apply to `movies`, `shows`, and `episodes`. Rotten Tomatoes and Metacritic apply to `movies`.

| Parameter | Multiples | Example | Value |
|---|---|---|---|
| `ratings` | | `75-100` | Trakt rating range between `0` and `100`. |
| `votes` | | `5000-10000` | Trakt vote count between `0` and `100000`. |
| `tmdb_ratings` | | `5.5-10.0` | TMDB rating range between `0.0` and `10.0`. |
| `tmdb_votes` | | `5000-10000` | TMDB vote count between `0` and `100000`. |
| `imdb_ratings` | | `5.5-10.0` | IMDB rating range between `0.0` and `10.0`. |
| `imdb_votes` | | `5000-10000` | IMDB vote count between `0` and `3000000`. |
| `rt_meters` | | `55-1000` | Rotten Tomatoes tomatometer range between `0` and `100`. |
| `rt_user_meters` | | `65-100` | Rotten Tomatoes audience score range between `0` and `100`. |
| `metascores` | | `5.5-10.0` | Metacritic score range between `0` and `100`. |

#### Movie Filters

| Parameter | Multiples | Example | Value |
|---|---|---|---|
| `certifications` | &#10003; | `pg-13` | US content certification. |

#### Show Filters

| Parameter | Multiples | Example | Value |
|---|---|---|---|
| `certifications` | &#10003; | `tv-pg` | US content certification. |
| `network_ids` | &#10003; | `53` | Trakt network ID. |
| `status` | &#10003; | `ended` | Set to `returning series`, `continuing`, `in production`, `planned`, `upcoming`,  `pilot`, `canceled`, or `ended`. |

#### Episode Filters

| Parameter | Multiples | Example | Value |
|---|---|---|---|
| `certifications` | &#10003; | `tv-pg` | US content certification. |
| `network_ids` | &#10003; | `53` | Trakt network ID. |
| `episode_types` | &#10003; | `mid_season_premiere` | Set to `standard`, `series_premiere`, `season_premiere`, `mid_season_finale`, `mid_season_premiere`, `season_finale`,  or `series_finale`. |

# CORS
When creating your API app, specify the JavaScript (CORS) origins you'll be using. We use these origins to return the headers needed for CORS.

# Dates
All dates will be GMT and returned in the ISO 8601 format like `2014-09-01T09:10:11.000Z`. Adjust accordingly in your app for the user's local timezone.

# Emojis

We use short codes for emojis like `:smiley:` and `:raised_hands:` and render them on the Trakt website using [**JoyPixels**](https://www.joypixels.com/) _(verion 6.6.0)_. Methods that support emojis are tagged with &#128513; **Emojis**. For POST methods, you can send standard unicode emojis and we'll automatically convert them to short codes. For GET methods, we'll return the unicode emojis if possible, but some short codes might also be returned. It's up to your app to convert short codes back to unicode emojis.

# Standard Media Objects
All methods will accept or return standard media objects for `movie`, `show`, `season`, `episode`, `person`, and `user` items. Here are examples for all minimal objects.

#### movie
```
{
    "title": "Batman Begins",
    "year": 2005,
    "ids": {
        "trakt": 1,
        "slug": "batman-begins-2005",
        "imdb": "tt0372784",
        "tmdb": 272
    }
}
```

#### show
```
{
    "title": "Breaking Bad",
    "year": 2008,
    "ids": {
        "trakt": 1,
        "slug": "breaking-bad",
        "tvdb": 81189,
        "imdb": "tt0903747",
        "tmdb": 1396
    }
}
```

#### season
```
{
    "number": 0,
    "ids": {
        "trakt": 1,
        "tvdb": 439371,
        "tmdb": 3577
    }
}
```

#### episode
```
{
    "season": 1,
    "number": 1,
    "title": "Pilot",
    "ids": {
        "trakt": 16,
        "tvdb": 349232,
        "imdb": "tt0959621",
        "tmdb": 62085
    }
}
```

#### person
```
{
    "name": "Bryan Cranston",
    "ids": {
        "trakt": 142,
        "slug": "bryan-cranston",
        "imdb": "nm0186505",
        "tmdb": 17419
    }
}
```

#### user
```
{
    "username": "sean",
    "private": false,
    "name": "Sean Rudford",
    "vip": true,
    "vip_ep": true,
    "ids": {
        "slug": "sean"
    }
}
```

# Images

#### Trakt Images
Trakt can return images by appending `?extended=images` to most URLs. This will return all images for a `movie`, `show`, `season`, `episode`, or `person`. Images are returned in a `images` object with keys for each image type. Each image type is an array of image URLs, but only 1 image URL will be returned for now. This is just future proofing.

> ### ☣️ 🅸🅼🅿🅾🆁🆃🅰🅽🆃
> **Please cache all images!** All images are required to be cached in your app or server and not loaded directly from our CDN. Hotlinking images is not allowed and will be blocked.

> ### 🅽🅾🆃🅴
> All images are returned in WebP format for reduced file size, at the same image quality. You'll also need to prepend the https:// prefix to all image URLs.

### Example Images Object
```json
{
  "title": "TRON: Legacy",
  "year": 2010,
  "ids": {
    "trakt": 12601,
    "slug": "tron-legacy-2010",
    "imdb": "tt1104001",
    "tmdb": 20526
  },
  "images": {
    "fanart": [
      "walter-r2.trakt.tv/images/movies/000/012/601/fanarts/medium/5aab754f58.jpg.webp"
    ],
    "poster": [
      "walter-r2.trakt.tv/images/movies/000/012/601/posters/thumb/e0d9dd35c5.jpg.webp"
    ],
    "logo": [
      "walter-r2.trakt.tv/images/movies/000/012/601/logos/medium/dbce70b4aa.png.webp"
    ],
    "clearart": [
      "walter-r2.trakt.tv/images/movies/000/012/601/cleararts/medium/513a3688d1.png.webp"
    ],
    "banner": [
      "walter-r2.trakt.tv/images/movies/000/012/601/banners/medium/71dc0c3258.jpg.webp"
    ],
    "thumb": [
      "walter-r2.trakt.tv/images/movies/000/012/601/thumbs/medium/fcd7d7968c.jpg.webp"
    ]
  }
}
```

#### External Images
If you want more variety of images, there are several external services you can use. The standard Trakt media objects for all `movie`, `show`, `season`, `episode`, and `person` items include an `ids` object. These `ids` map to other services like [TMDB](https://www.themoviedb.org), [TVDB](https://thetvdb.com), [Fanart.tv](https://fanart.tv), [IMDB](https://www.imdb.com), and [OMDB](https://www.omdbapi.com/).

Most of these services have free APIs you can use to grab lots of great looking images. Here’s a chart to help you find the best artwork for your app. [**We also wrote an article to help with this.**](https://medium.com/api-news/how-to-find-the-best-images-516045bcc3b6)

| Media | Type | [TMDB](https://developers.themoviedb.org/3) | [TVDB](https://api.thetvdb.com/swagger) | [Fanart.tv](http://docs.fanarttv.apiary.io) | [OMDB](https://www.omdbapi.com) |
|---|---|---|---|---|---|
| `shows` | `poster` | &#10003; | &#10003; | &#10003; | &#10003; |
|  | `fanart` | &#10003; | &#10003; | &#10003; |  |
|  | `banner` |  | &#10003; | &#10003; |  |
|  | `logo` | &#10003; |  | &#10003; |  |
|  | `clearart` |  |  | &#10003; |  |
|  | `thumb` |  |  | &#10003; |  |
| `seasons` | `poster` | &#10003; | &#10003; | &#10003; |  |
|  | `banner` |  | &#10003; | &#10003; |  |
|  | `thumb` |  |  | &#10003; |  |
| `episodes` | `screenshot` | &#10003; | &#10003; |  |  |
| `movies` | `poster` | &#10003; |  | &#10003; | &#10003; |
|  | `fanart` | &#10003; |  | &#10003; |  |
|  | `banner` |  |  | &#10003; |  |
|  | `logo` | &#10003; |  | &#10003; |  |
|  | `clearart` |  |  | &#10003; |  |
|  | `thumb` |  |  | &#10003; |  |
| `person` | `headshot` | &#10003; |  |  |  |
|  | `character` |  | &#10003; |  |  |

# Website Media Links
There are several ways to construct direct links to media on the Trakt website. The website itself uses slugs so the URLs are more readable.

| Type | URL |
|---|---|
| `movie` | `/movies/:id` |
| | `/movies/:slug` |
| `show` | `/shows/:id` |
| | `/shows/:slug` |
| `season` | `/shows/:id/seasons/:num` |
| | `/shows/:slug/seasons/:num` |
| `episode` | `/shows/:id/seasons/:num/episodes/:num` |
| | `/shows/:slug/seasons/:num/episodes/:num` |
| `person` | `/people/:id` |
| | `/people/:slug` |
| `comment` | `/comments/:id` |
| `list` | `/lists/:id` |

You can also create links using the Trakt, IMDB, TMDB, or TVDB IDs. We recommend using the Trakt ID if possible since that will always have full coverage. If you use the search url without an `id_type` it will return search results if multiple items are found.

| Type | URL |
|---|---|
| `trakt` | `/search/trakt/:id` |
|  | `/search/trakt/:id?id_type=movie` |
|  | `/search/trakt/:id?id_type=show` |
|  | `/search/trakt/:id?id_type=season` |
|  | `/search/trakt/:id?id_type=episode` |
|  | `/search/trakt/:id?id_type=person` |
| `imdb` | `/search/imdb/:id` |
| `tmdb` | `/search/tmdb/:id` |
|  | `/search/tmdb/:id?id_type=movie` |
|  | `/search/tmdb/:id?id_type=show` |
|  | `/search/tmdb/:id?id_type=episode` |
|  | `/search/tmdb/:id?id_type=person` |
| `tvdb` | `/search/tvdb/:id` |
|  | `/search/tvdb/:id?id_type=show` |
|  | `/search/tvdb/:id?id_type=episode` |

# Third Party Libraries
All of the libraries listed below are user contributed. If you find a bug or missing feature, please contact the developer directly. These might help give your project a head start, but we can't provide direct support for any of these libraries. Please help us keep this list up to date.

| Language | Name | Repository |
|---|---|---|
| `C#` | `Trakt.NET` | https://github.com/henrikfroehling/Trakt.NET |
|  | `TraktSharp` | https://github.com/wwarby/TraktSharp |
| `C++` | `libtraqt` | https://github.com/RobertMe/libtraqt |
| `Clojure` | `clj-trakt` | https://github.com/niamu/clj-trakt |
| `Java` | `trakt-java` | https://github.com/UweTrottmann/trakt-java |
| `Kotlin` | `trakt-api` | https://github.com/MoviebaseApp/trakt-api |
| `Node.js` | `Trakt.tv` | https://github.com/vankasteelj/trakt.tv |
|  | `TraktApi2` | https://github.com/PatrickE94/traktapi2 |
| `Python` | `trakt.py` | https://github.com/fuzeman/trakt.py |
|  | `pyTrakt` | https://github.com/moogar0880/PyTrakt |
| `R` | `tRakt` | https://github.com/jemus42/tRakt |
| `React Native` | `nodeless-trakt` | https://github.com/kdemoya/nodeless-trakt |
| `Ruby` | `omniauth-trakt` | https://github.com/wafcio/omniauth-trakt |
|  | `omniauth-trakt` | https://github.com/alextakitani/omniauth-trakt |
| `Swift` | `TraktKit` | https://github.com/MaxHasADHD/TraktKit |
|  | `AKTrakt` | https://github.com/arsonik/AKTrakt |

# Terminology
Trakt has a lot of features and here's a chart to help explain the differences between some of them.

| Term | Description |
|---|---|
| `scrobble` | Automatic way to track what a user is watching in a media center. |
| `checkin` | Manual action used by mobile apps allowing the user to indicate what they are watching right now. |
| `history` | All watched items (scrobbles, checkins, watched) for a user. |
| `collection` | Items a user has available to watch including Blu-Rays, DVDs, and digital downloads. |
| `watchlist` | Items a user wants to watch in the future. Once watched, they are auto removed from this list. |
| `list` | Personal list for any purpose. Items are not auto removed from any personal lists. |
| `favorites` | A user's top 50 TV shows and movies. |

# Group Authentication - OAuth
The API uses OAuth2.  If you know what's up with OAuth2, grab your library and starting rolling. If you have access to a web browser (mobile app, desktop app, website), use standard **OAuth**. If you don't have web browser access (media center plugins, smart watches, smart TVs, command line scripts, system services), use **Device** authentication.

To obtain a `client_id` and `client_secret`, create an application on the Trakt website. Here are some helpful links to get your started:

- [Create a new API app](https://trakt.tv/oauth/applications/new)
- [View your API apps](https://trakt.tv/oauth/applications)

---

#### Application Flow

1. **Redirect to request Trakt access.** Using the [**/oauth/authorize**](/reference/authentication-oauth/authorize) method, construct then redirect to this URL. The Trakt website will request permissions for your app and the user will have the opportunity to sign up for a new Trakt account or sign in with their existing account.
2. **Trakt redirects back to your site.** If the user accepts your request, Trakt redirects back to your site with a temporary code in a `code` GET parameter as well as the state (if provided) in the previous step in a `state` parameter. If the states don’t match, the request has been created by a third party and the process should be aborted.
3. **Exchange the code for an access token.** If everything looks good in step 2, exchange the `code` for an access token using the [**/oauth/token**](reference/authentication-oauth/get-token/) method. Save the `access_token` so your app can authenticate the user by sending the `Authorization` header as indicated below or in any example code. The `access_token` is valid for **7 days**. Save and use the `refresh_token` to get a new `access_token` without asking the user to re-authenticate.

## Authorize [/oauth/authorize{?response_type,client_id,redirect_uri,state}]

+ Parameters
    + response_type (required, string, `code`) ... Must be set to code.
    + client_id (required, string, ` `) ... Get this from your app settings.
    + redirect_uri (required, string, ` `) ... URI specified in your app settings.
    + state (optional, string, ` `) ... State variable for CSRF purposes.
    + signup (optional, string, `true`) ... Default to the sign up page.

### Authorize Application [GET]
Construct then redirect to this URL. The Trakt website will request permissions for your app, which the user needs to approve. If the user isn't signed into Trakt, it will ask them to do so.

> ### ☣️ 🅸🅼🅿🅾🆁🆃🅰🅽🆃
> _Use the website **https://trakt.tv** hostname when creating this URL and not the API URL._

#### Optional URL Parameters

When building the authorization URL, you can optionally include the following query parameters in the URL.

| Parameter | Value | Description |
|---|---|---|
| `signup` | `true` | Prefer the account sign up page to be the default. |
| `prompt` | `login` | Force the user to sign in and authorize your app. |

+ Request (application/json)

    ```
    https://trakt.tv/oauth/authorize?response_type=code&client_id=9b36d8c0db59eff5038aea7a417d73e69aea75b41aac771816d2ef1b3109cc2f&redirect_uri=urn:ietf:wg:oauth:2.0:oob
    ```

    + Body

+ Response 200

    + Body

## Get Token [/oauth/token]

### Exchange code for access_token [POST]
Use the authorization `code` GET parameter sent back to your `redirect_uri` to get an `access_token`. Save the `access_token` so your app can authenticate the user by sending the `Authorization` header.

The `access_token` is valid for **7 days**. Save and use the `refresh_token` to get a new `access_token` without asking the user to re-authenticate.

#### JSON POST Data
| Key | Type | Value |
|---|---|---|
| `code` <span style="color:red;">*</a> | string | Authorization code. |
| `client_id` <span style="color:red;">*</a> | string | Get this from your app settings. |
| `client_secret` <span style="color:red;">*</a> | string | Get this from your app settings. |
| `redirect_uri` <span style="color:red;">*</a> | string | URI specified in your app settings. |
| `grant_type` <span style="color:red;">* </a> | string | `authorization_code` |

+ Request (application/json)

    + Body

            {
                "code": "fd0847dbb559752d932dd3c1ac34ff98d27b11fe2fea5a864f44740cd7919ad0",
                "client_id": "9b36d8c0db59eff5038aea7a417d73e69aea75b41aac771816d2ef1b3109cc2f",
                "client_secret": "d6ea27703957b69939b8104ed4524595e210cd2e79af587744a7eb6e58f5b3d2",
                "redirect_uri": "urn:ietf:wg:oauth:2.0:oob",
                "grant_type": "authorization_code"
            }

+ Response 200 (application/json)

    If the `code` is valid, you'll get the `access_token` back.

    + Body

            {
                "access_token": "dbaf9757982a9e738f05d249b7b5b4a266b3a139049317c4909f2f263572c781",
                "token_type": "bearer",
                "expires_in": 86400,
                "refresh_token": "76ba4c5c75c96f6087f58a4de10be6c00b29ea1ddc3b2022ee2016d1363e3a7c",
                "scope": "public",
                "created_at": 1487889741
            }

+ Response 401 (application/json)

    If the `code` is invalid, you'll get a `401` error.

    + Body

            {
                "error": "invalid_grant",
                "error_description": "The provided authorization grant is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client."
            }

## Refresh Token [/oauth/token]

### Exchange refresh_token for access_token [POST]
Use the `refresh_token` to get a new `access_token` without asking the user to re-authenticate. The `access_token` is valid for **7 days** before it needs to be refreshed again.

#### JSON POST Data
| Key | Type | Value |
|---|---|---|
| `refresh_token` <span style="color:red;">*</a> | string | Saved from the initial token method. |
| `client_id` <span style="color:red;">*</a> | string | Get this from your app settings. |
| `client_secret` <span style="color:red;">*</a> | string | Get this from your app settings. |
| `redirect_uri` <span style="color:red;">*</a> | string | URI specified in your app settings. |
| `grant_type` <span style="color:red;">* </a> | string | `refresh_token` |

+ Request (application/json)

    + Body

            {
                "refresh_token": "fd0847dbb559752d932dd3c1ac34ff98d27b11fe2fea5a864f44740cd7919ad0",
                "client_id": "9b36d8c0db59eff5038aea7a417d73e69aea75b41aac771816d2ef1b3109cc2f",
                "client_secret": "d6ea27703957b69939b8104ed4524595e210cd2e79af587744a7eb6e58f5b3d2",
                "redirect_uri": "urn:ietf:wg:oauth:2.0:oob",
                "grant_type": "refresh_token"
            }

+ Response 200 (application/json)

    If the `refresh_token` is valid, you'll get the `access_token` back.

    + Body

            {
                "access_token": "dbaf9757982a9e738f05d249b7b5b4a266b3a139049317c4909f2f263572c781",
                "token_type": "bearer",
                "expires_in": 86400,
                "refresh_token": "76ba4c5c75c96f6087f58a4de10be6c00b29ea1ddc3b2022ee2016d1363e3a7c",
                "scope": "public",
                "created_at": 1487889741
            }

+ Response 401 (application/json)

    If the `refresh_token` is invalid, you'll get a `401` error.

    + Body

            {
                "error": "invalid_grant",
                "error_description": "The provided authorization grant is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client."
            }

## Revoke Token [/oauth/revoke]

### Revoke an access_token [POST]
An `access_token` can be revoked when a user signs out of their Trakt account in your app. This is not required, but might improve the user experience so the user doesn't have an unused app connection hanging around.

#### JSON POST Data
| Key | Type | Value |
|---|---|---|
| `token` <span style="color:red;">*</a> | string | A valid OAuth `access_token`. |
| `client_id` <span style="color:red;">*</a> | string | Get this from your app settings. |
| `client_secret` <span style="color:red;">*</a> | string | Get this from your app settings. |

+ Request (application/json)

    + Body

            {
                "token": "fd0847dbb559752d932dd3c1ac34ff98d27b11fe2fea5a864f44740cd7919ad0",
                "client_id": "9b36d8c0db59eff5038aea7a417d73e69aea75b41aac771816d2ef1b3109cc2f",
                "client_secret": "d6ea27703957b69939b8104ed4524595e210cd2e79af587744a7eb6e58f5b3d2"
            }

+ Response 200 (application/json)

    + Body

            {}

# Group Authentication - Devices
Device authentication is for apps and services with limited input or display capabilities. This include media center plugins, smart watches, smart TVs, command line scripts, and system services.

Your app displays an alphanumeric code (typically 8 characters) to the user. They are then instructed to visit the verification URL on their computer or mobile device. After entering the code, the user will be prompted to grant permission for your app. After your app gets permissions, the device receives an `access_token` and works like standard OAuth from that point on. More details below.

---

#### Application Flow

1. **Generate codes.** Your app calls [**/oauth/device/code**](/reference/authentication-devices/code) to generate new codes. Save this entire response for later use.
2. **Display the code.** Display the `user_code` and instruct the user to visit the `verification_url` on their computer or mobile device.
3. **Poll for authorization.** Poll the [**/oauth/device/token**](/reference/authentication-devices/token) method to see if the user successfully authorizes your app. Use the `device_code` and poll at the `interval` (in seconds) to check if the user has authorized your app. Check the docs below for the specific error codes you need to handle. Use `expires_in` to stop polling after that many seconds, and gracefully instruct the user to restart the process. **It is important to poll at the correct interval and also stop polling when expired.**
4. **Successful authorization.** When you receive a `200` success response, save the `access_token` so your app can authenticate the user in methods that require it. The `access_token` is valid for **7 days**. Save and use the `refresh_token` to get a new `access_token` without asking the user to re-authenticate. It's normal OAuth from this point.

---

#### User Flow

1. **Call to action.** Consider your user experience when asking a user to connect their Trakt account. For some devices this will be right away, and for others it might be later in the experience.
2. **Display the code.** When a user clicks the call to action, your app calls [**/oauth/device/code**](/reference/authentication-devices/code) to generate new codes. In your UI, display the `user_code` and instruct the user to visit the `verification_url` on their computer or mobile device. The `user_code` is typically 8 characters, so make sure there is enough room to display the full code.
3. **Authorizing your app.** When the user visits the `verification_url` it first checks to make sure they're signed in. If not signed in, they'll be able to or can sign up for a new account. After entering the code, the user will be prompted to grant permission for your app. Once approved, the user will see a success message indicating their device is connected.
4. **Confirm successful authorization.** Your app will be polling to see if the user successfully authorizes your app. Once they have, refresh your UI to indicate a successful connection has been made.

## Device Code [/oauth/device/code]

### Generate new device codes [POST]
Generate new codes to start the device authentication process. The `device_code` and `interval` will be used later to poll for the `access_token`. The `user_code` and `verification_url` should be presented to the user as mentioned in the flow steps above.

#### QR Code

You might consider generating a QR code for the user to easily scan on their mobile device. The QR code should be a URL that redirects to the `verification_url` and appends the `user_code`. For example, `https://trakt.tv/activate/5055CC52` would load the Trakt hosted `verification_url` and pre-fill in the `user_code`.

#### JSON POST Data
| Key | Type | Value |
|---|---|---|
| `client_id` <span style="color:red;">*</a> | string | Get this from your app settings. |

+ Request (application/json)

    + Body

            {
                "client_id": "9b36d8c0db59eff5038aea7a417d73e69aea75b41aac771816d2ef1b3109cc2f"
            }

+ Response 200 (application/json)

    + Body

            {
                "device_code": "d9c126a7706328d808914cfd1e40274b6e009f684b1aca271b9b3f90b3630d64",
                "user_code": "5055CC52",
                "verification_url": "https://trakt.tv/activate",
                "expires_in": 600,
                "interval": 5
            }

## Get Token [/oauth/device/token]

### Poll for the access_token [POST]
Use the `device_code` and poll at the `interval` (in seconds) to check if the user has authorized you app. Use `expires_in` to stop polling after that many seconds, and gracefully instruct the user to restart the process. **It is important to poll at the correct interval and also stop polling when expired.**

When you receive a `200` success response, save the `access_token` so your app can authenticate the user in methods that require it. The `access_token` is valid for **7 days**. Save and use the `refresh_token` to get a new `access_token` without asking the user to re-authenticate. Check below for all the error codes that you should handle.

#### JSON POST Data
| Key | Type | Value |
|---|---|---|
| `code` <span style="color:red;">*</a> | string | `device_code` from the initial method. |
| `client_id` <span style="color:red;">*</a> | string | Get this from your app settings. |
| `client_secret` <span style="color:red;">*</a> | string | Get this from your app settings. |

#### Status Codes
This method will send various HTTP status codes that you should handle accordingly.

| Code | Description |
|---|---|
| `200` | Success - *save the `access_token`*
| `400` | Pending - *waiting for the user to authorize your app*
| `404` | Not Found - *invalid `device_code`*
| `409` | Already Used - *user already approved this code*
| `410` | Expired - *the tokens have expired, restart the process*
| `418` | Denied - *user explicitly denied this code*
| `429` | Slow Down - *your app is polling too quickly*

+ Request (application/json)

    + Body

            {
                "code": "fd0847dbb559752d932dd3c1ac34ff98d27b11fe2fea5a864f44740cd7919ad0",
                "client_id": "9b36d8c0db59eff5038aea7a417d73e69aea75b41aac771816d2ef1b3109cc2f",
                "client_secret": "d6ea27703957b69939b8104ed4524595e210cd2e79af587744a7eb6e58f5b3d2"
            }

+ Response 200 (application/json)

    + Body

            {
                "access_token": "dbaf9757982a9e738f05d249b7b5b4a266b3a139049317c4909f2f263572c781",
                "token_type": "bearer",
                "expires_in": 86400,
                "refresh_token": "76ba4c5c75c96f6087f58a4de10be6c00b29ea1ddc3b2022ee2016d1363e3a7c",
                "scope": "public",
                "created_at": 1487889741
            }

# Group Calendars
By default, the calendar will return all shows or movies for the specified time period and can be global or user specific. The `start_date` defaults to today and `days` to 7. The maximum amount of `days` you can send is `33`. All dates (including the `start_date` and `first_aired`) are in UTC, so it's up to your app to handle any offsets based on the user's time zone.

The `my` calendar displays episodes for all shows that have been watched, or watchlisted plus individual episodes on the watchlist. It will remove any shows that have been hidden from the calendar. The `all` calendar displays info for all shows airing during the specified period.

## My Shows [/calendars/my/shows/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get shows [GET]
#### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters
Returns all shows airing during the time period specified.

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "first_aired": "2014-07-14T01:00:00.000Z",
                    "episode": {
                        "season": 7,
                        "number": 4,
                        "title": "Death is Not the End",
                        "ids": {
                            "trakt": 443,
                            "tvdb": 4851180,
                            "imdb": "tt3500614",
                            "tmdb": 988123
                        }
                    },
                    "show": {
                        "title": "True Blood",
                        "year": 2008,
                        "ids": {
                            "trakt": 5,
                            "slug": "true-blood",
                            "tvdb": 82283,
                            "imdb": "tt0844441",
                            "tmdb": 10545
                        }
                    }
                },
                {
                    "first_aired": "2014-07-14T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 3,
                        "title": "Two Boats and a Helicopter",
                        "ids": {
                            "trakt": 499,
                            "tvdb": 4854797,
                            "imdb": "tt3631218",
                            "tmdb": 988346
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                },
                {
                    "first_aired": "2014-07-21T01:00:00.000Z",
                    "episode": {
                        "season": 7,
                        "number": 5,
                        "title": "Return to Oz",
                        "ids": {
                            "trakt": 444,
                            "tvdb": 4851181,
                            "imdb": "tt3500616",
                            "tmdb": 988124
                        }
                    },
                    "show": {
                        "title": "True Blood",
                        "year": 2008,
                        "ids": {
                            "trakt": 5,
                            "slug": "true-blood",
                            "tvdb": 82283,
                            "imdb": "tt0844441",
                            "tmdb": 10545
                        }
                    }
                },
                {
                    "first_aired": "2014-07-21T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 4,
                        "title": "B.J. and the A.C.",
                        "ids": {
                            "trakt": 500,
                            "tvdb": 4854798,
                            "imdb": "tt3594942",
                            "tmdb": 988347
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                }
            ]

## My New Shows [/calendars/my/shows/new/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get new shows [GET]
#### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters
Returns all new show premieres (`series_premiere`) airing during the time period specified.

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "first_aired": "2014-06-30T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 1,
                        "title": "Pilot",
                        "ids": {
                            "trakt": 497,
                            "tvdb": null,
                            "imdb": "tt3203968",
                            "tmdb": 983732
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                }
            ]

## My Season Premieres [/calendars/my/shows/premieres/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get season premieres [GET]
#### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters
Returns all show premieres (`mid_season_premiere`, `season_premiere`, `series_premiere`) airing during the time period specified.

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "first_aired": "2014-06-30T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 1,
                        "title": "Pilot",
                        "ids": {
                            "trakt": 497,
                            "tvdb": null,
                            "imdb": "tt3203968",
                            "tmdb": 983732
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                },
                {
                    "first_aired": "2014-10-13T01:00:00.000Z",
                    "episode": {
                        "season": 5,
                        "number": 1,
                        "title": "5x1",
                        "ids": {
                            "trakt": 163,
                            "tvdb": null,
                            "imdb": "",
                            "tmdb": 975949
                        }
                    },
                    "show": {
                        "title": "The Walking Dead",
                        "year": 2010,
                        "ids": {
                            "trakt": 2,
                            "slug": "the-walking-dead",
                            "tvdb": 153021,
                            "imdb": "tt1520211",
                            "tmdb": 1402
                        }
                    }
                }
            ]

## My Finales [/calendars/my/shows/finales/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get finales [GET]
#### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters
Returns all show finales (`mid_season_finale`, `season_finale`, `series_finale`) airing during the time period specified.

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "first_aired": "2014-06-30T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 10,
                        "title": "Season Finale",
                        "ids": {
                            "trakt": 497,
                            "tvdb": null,
                            "imdb": "tt3203968",
                            "tmdb": 983732
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                },
                {
                    "first_aired": "2014-10-13T01:00:00.000Z",
                    "episode": {
                        "season": 5,
                        "number": 10,
                        "title": "5x10",
                        "ids": {
                            "trakt": 163,
                            "tvdb": null,
                            "imdb": "",
                            "tmdb": 975949
                        }
                    },
                    "show": {
                        "title": "The Walking Dead",
                        "year": 2010,
                        "ids": {
                            "trakt": 2,
                            "slug": "the-walking-dead",
                            "tvdb": 153021,
                            "imdb": "tt1520211",
                            "tmdb": 1402
                        }
                    }
                }
            ]

## My Movies [/calendars/my/movies/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get movies [GET]
#### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters
Returns all movies with a release date during the time period specified.

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Guardians of the Galaxy",
                        "year": 2014,
                        "ids": {
                            "trakt": 28,
                            "slug": "guardians-of-the-galaxy-2014",
                            "imdb": "tt2015381",
                            "tmdb": 118340
                        }
                    }
                },
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Get On Up",
                        "year": 2014,
                        "ids": {
                            "trakt": 29,
                            "slug": "get-on-up-2014",
                            "imdb": "tt2473602",
                            "tmdb": 239566
                        }
                    }
                },
                {
                    "released": "2014-08-08",
                    "movie": {
                        "title": "Teenage Mutant Ninja Turtles",
                        "year": 2014,
                        "ids": {
                            "trakt": 30,
                            "slug": "teenage-mutant-ninja-turtles-2014",
                            "imdb": "tt1291150",
                            "tmdb": 98566
                        }
                    }
                }
            ]

## My Streaming [/calendars/my/streaming/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get streaming releases [GET]
#### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters
Returns all movies with a `us` streaming release date during the time period specified.

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Guardians of the Galaxy",
                        "year": 2014,
                        "ids": {
                            "trakt": 28,
                            "slug": "guardians-of-the-galaxy-2014",
                            "imdb": "tt2015381",
                            "tmdb": 118340
                        }
                    }
                },
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Get On Up",
                        "year": 2014,
                        "ids": {
                            "trakt": 29,
                            "slug": "get-on-up-2014",
                            "imdb": "tt2473602",
                            "tmdb": 239566
                        }
                    }
                },
                {
                    "released": "2014-08-08",
                    "movie": {
                        "title": "Teenage Mutant Ninja Turtles",
                        "year": 2014,
                        "ids": {
                            "trakt": 30,
                            "slug": "teenage-mutant-ninja-turtles-2014",
                            "imdb": "tt1291150",
                            "tmdb": 98566
                        }
                    }
                }
            ]


## My DVD [/calendars/my/dvd/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get DVD releases [GET]
#### &#128274; OAuth Required &#10024; Extended Info &#127898; Filters
Returns all movies with a `us` DVD release date during the time period specified.

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Guardians of the Galaxy",
                        "year": 2014,
                        "ids": {
                            "trakt": 28,
                            "slug": "guardians-of-the-galaxy-2014",
                            "imdb": "tt2015381",
                            "tmdb": 118340
                        }
                    }
                },
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Get On Up",
                        "year": 2014,
                        "ids": {
                            "trakt": 29,
                            "slug": "get-on-up-2014",
                            "imdb": "tt2473602",
                            "tmdb": 239566
                        }
                    }
                },
                {
                    "released": "2014-08-08",
                    "movie": {
                        "title": "Teenage Mutant Ninja Turtles",
                        "year": 2014,
                        "ids": {
                            "trakt": 30,
                            "slug": "teenage-mutant-ninja-turtles-2014",
                            "imdb": "tt1291150",
                            "tmdb": 98566
                        }
                    }
                }
            ]

## All Shows [/calendars/all/shows/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get shows [GET]
#### &#10024; Extended Info &#127898; Filters
Returns all shows airing during the time period specified.

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "first_aired": "2014-07-14T01:00:00.000Z",
                    "episode": {
                        "season": 7,
                        "number": 4,
                        "title": "Death is Not the End",
                        "ids": {
                            "trakt": 443,
                            "tvdb": 4851180,
                            "imdb": "tt3500614",
                            "tmdb": 988123
                        }
                    },
                    "show": {
                        "title": "True Blood",
                        "year": 2008,
                        "ids": {
                            "trakt": 5,
                            "slug": "true-blood",
                            "tvdb": 82283,
                            "imdb": "tt0844441",
                            "tmdb": 10545
                        }
                    }
                },
                {
                    "first_aired": "2014-07-14T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 3,
                        "title": "Two Boats and a Helicopter",
                        "ids": {
                            "trakt": 499,
                            "tvdb": 4854797,
                            "imdb": "tt3631218",
                            "tmdb": 988346
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                },
                {
                    "first_aired": "2014-07-21T01:00:00.000Z",
                    "episode": {
                        "season": 7,
                        "number": 5,
                        "title": "Return to Oz",
                        "ids": {
                            "trakt": 444,
                            "tvdb": 4851181,
                            "imdb": "tt3500616",
                            "tmdb": 988124
                        }
                    },
                    "show": {
                        "title": "True Blood",
                        "year": 2008,
                        "ids": {
                            "trakt": 5,
                            "slug": "true-blood",
                            "tvdb": 82283,
                            "imdb": "tt0844441",
                            "tmdb": 10545
                        }
                    }
                },
                {
                    "first_aired": "2014-07-21T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 4,
                        "title": "B.J. and the A.C.",
                        "ids": {
                            "trakt": 500,
                            "tvdb": 4854798,
                            "imdb": "tt3594942",
                            "tmdb": 988347
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                }
            ]

## All New Shows [/calendars/all/shows/new/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get new shows [GET]
#### &#10024; Extended Info &#127898; Filters
Returns all new show premieres (`series_premiere`) airing during the time period specified.

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "first_aired": "2014-06-30T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 1,
                        "title": "Pilot",
                        "ids": {
                            "trakt": 497,
                            "tvdb": null,
                            "imdb": "tt3203968",
                            "tmdb": 983732
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                }
            ]

## All Season Premieres [/calendars/all/shows/premieres/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get season premieres [GET]
#### &#10024; Extended Info &#127898; Filters
Returns all show premieres (`mid_season_premiere`, `season_premiere`, `series_premiere`) airing during the time period specified.

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "first_aired": "2014-06-30T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 10,
                        "title": "Season Finale",
                        "ids": {
                            "trakt": 497,
                            "tvdb": null,
                            "imdb": "tt3203968",
                            "tmdb": 983732
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                },
                {
                    "first_aired": "2014-10-13T01:00:00.000Z",
                    "episode": {
                        "season": 5,
                        "number": 10,
                        "title": "5x10",
                        "ids": {
                            "trakt": 163,
                            "tvdb": null,
                            "imdb": "",
                            "tmdb": 975949
                        }
                    },
                    "show": {
                        "title": "The Walking Dead",
                        "year": 2010,
                        "ids": {
                            "trakt": 2,
                            "slug": "the-walking-dead",
                            "tvdb": 153021,
                            "imdb": "tt1520211",
                            "tmdb": 1402
                        }
                    }
                }
            ]

## All Finales [/calendars/all/shows/finales/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get finales [GET]
#### &#10024; Extended Info &#127898; Filters
Returns all show finales (`mid_season_finale`, `season_finale`, `series_finale`) airing during the time period specified.

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "first_aired": "2014-06-30T02:00:00.000Z",
                    "episode": {
                        "season": 1,
                        "number": 1,
                        "title": "Pilot",
                        "ids": {
                            "trakt": 497,
                            "tvdb": null,
                            "imdb": "tt3203968",
                            "tmdb": 983732
                        }
                    },
                    "show": {
                        "title": "The Leftovers",
                        "year": 2014,
                        "ids": {
                            "trakt": 7,
                            "slug": "the-leftovers",
                            "tvdb": 269689,
                            "imdb": "tt2699128",
                            "tmdb": 54344
                        }
                    }
                },
                {
                    "first_aired": "2014-10-13T01:00:00.000Z",
                    "episode": {
                        "season": 5,
                        "number": 1,
                        "title": "5x1",
                        "ids": {
                            "trakt": 163,
                            "tvdb": null,
                            "imdb": "",
                            "tmdb": 975949
                        }
                    },
                    "show": {
                        "title": "The Walking Dead",
                        "year": 2010,
                        "ids": {
                            "trakt": 2,
                            "slug": "the-walking-dead",
                            "tvdb": 153021,
                            "imdb": "tt1520211",
                            "tmdb": 1402
                        }
                    }
                }
            ]

## All Movies [/calendars/all/movies/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get movies [GET]
#### &#10024; Extended Info &#127898; Filters
Returns all movies with a release date during the time period specified.

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Guardians of the Galaxy",
                        "year": 2014,
                        "ids": {
                            "trakt": 28,
                            "slug": "guardians-of-the-galaxy-2014",
                            "imdb": "tt2015381",
                            "tmdb": 118340
                        }
                    }
                },
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Get On Up",
                        "year": 2014,
                        "ids": {
                            "trakt": 29,
                            "slug": "get-on-up-2014",
                            "imdb": "tt2473602",
                            "tmdb": 239566
                        }
                    }
                },
                {
                    "released": "2014-08-08",
                    "movie": {
                        "title": "Teenage Mutant Ninja Turtles",
                        "year": 2014,
                        "ids": {
                            "trakt": 30,
                            "slug": "teenage-mutant-ninja-turtles-2014",
                            "imdb": "tt1291150",
                            "tmdb": 98566
                        }
                    }
                }
            ]

## All Streaming [/calendars/all/streaming/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get streaming releases [GET]
#### &#10024; Extended Info &#127898; Filters
Returns all movies with a `us` streaming release date during the time period specified.

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Guardians of the Galaxy",
                        "year": 2014,
                        "ids": {
                            "trakt": 28,
                            "slug": "guardians-of-the-galaxy-2014",
                            "imdb": "tt2015381",
                            "tmdb": 118340
                        }
                    }
                },
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Get On Up",
                        "year": 2014,
                        "ids": {
                            "trakt": 29,
                            "slug": "get-on-up-2014",
                            "imdb": "tt2473602",
                            "tmdb": 239566
                        }
                    }
                },
                {
                    "released": "2014-08-08",
                    "movie": {
                        "title": "Teenage Mutant Ninja Turtles",
                        "year": 2014,
                        "ids": {
                            "trakt": 30,
                            "slug": "teenage-mutant-ninja-turtles-2014",
                            "imdb": "tt1291150",
                            "tmdb": 98566
                        }
                    }
                }
            ]

## All DVD [/calendars/all/dvd/{start_date}/{days}]

+ Parameters
    + start_date (optional, string, `2014-09-01`) ... Start the calendar on this date.
    + days (optional, integer, `7`) ... Number of days to display.

### Get DVD releases [GET]
#### &#10024; Extended Info &#127898; Filters
Returns all movies with a `us` DVD release date during the time period specified.

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Start-Date: Tue, 08 Mar 2016 00:00:00 GMT
            X-End-Date: Mon, 14 Mar 2016 23:59:59 GMT

    + Body

            [
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Guardians of the Galaxy",
                        "year": 2014,
                        "ids": {
                            "trakt": 28,
                            "slug": "guardians-of-the-galaxy-2014",
                            "imdb": "tt2015381",
                            "tmdb": 118340
                        }
                    }
                },
                {
                    "released": "2014-08-01",
                    "movie": {
                        "title": "Get On Up",
                        "year": 2014,
                        "ids": {
                            "trakt": 29,
                            "slug": "get-on-up-2014",
                            "imdb": "tt2473602",
                            "tmdb": 239566
                        }
                    }
                },
                {
                    "released": "2014-08-08",
                    "movie": {
                        "title": "Teenage Mutant Ninja Turtles",
                        "year": 2014,
                        "ids": {
                            "trakt": 30,
                            "slug": "teenage-mutant-ninja-turtles-2014",
                            "imdb": "tt1291150",
                            "tmdb": 98566
                        }
                    }
                }
            ]

# Group Checkin
Checking in is a manual action used by mobile apps allowing the user to indicate what they are watching right now. While not as effortless as scrobbling, checkins help fill in the gaps. You might be watching live tv, at a friend's house, or watching a movie in theaters. You can simply checkin from your phone or tablet in those situations. The item will display as *watching* on the site, then automatically switch to *watched* status once the duration has elapsed.

## Checkin [/checkin]

### Check into an item [POST]
#### &#128274; OAuth Required
Check into a movie or episode. This should be tied to a user action to manually indicate they are watching something. The item will display as *watching* on the site, then automatically switch to *watched* status once the duration has elapsed. A unique history `id` (64-bit integer) will be returned and can be used to reference this checkin directly.

#### JSON POST Data
| Key | Type | Value |
|---|---|---|
| item <span style="color:red;">*</a> | object | `movie` or `episode` object. (see examples &#8594;) |
| `sharing`  | object | Control sharing to any connected social networks. (see below &#8595;) |
| `message`  | string | Message used for sharing. If not sent, it will use the watching string in the user settings. |

#### Sharing
The `sharing` object is optional and will apply the user's settings if not sent. If `sharing` is sent, each key will override the user's setting for that social network. Send `true` to post or `false` to not post on the indicated social network. You can see which social networks a user has connected with the [**/users/settings**](/reference/users/settings) method.

| Key | Type |
|---|---|
| `twitter` | boolean |
| `mastodon` | boolean |
| `tumblr` | boolean |

> ### 🅽🅾🆃🅴
> _If a checkin is already in progress, a `409` HTTP status code will returned. The response will contain an `expires_at` timestamp which is when the user can check in again._

+ Request (application/json)

    Movie checkin by sending a standard `movie` object.

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "movie": {
                    "title": "Guardians of the Galaxy",
                    "year": 2014,
                    "ids": {
                        "trakt": 28,
                        "slug": "guardians-of-the-galaxy-2014",
                        "imdb": "tt2015381",
                        "tmdb": 118340
                    }
                },
                "sharing": {
                    "twitter": true,
                    "mastodon": true,
                    "tumblr": false
                },
                "message": "Guardians of the Galaxy FTW!"
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 3373536619,
                "watched_at": "2014-08-06T01:11:37.000Z",
                "sharing": {
                    "twitter": true,
                    "mastodon": true,
                    "tumblr": false
                },
                "movie": {
                    "title": "Guardians of the Galaxy",
                    "year": 2014,
                    "ids": {
                        "trakt": 28,
                        "slug": "guardians-of-the-galaxy-2014",
                        "imdb": "tt2015381",
                        "tmdb": 118340
                    }
                }
            }

+ Request (application/json)

    Episode checkin by sending a standard `episode` object.

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "episode": {
                    "ids": {
                        "trakt": 16
                    }
                },
                "sharing": {
                    "twitter": true,
                    "mastodon": true,
                    "tumblr": false
                },
                "message": "I'm the one who knocks!"
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 3373536620,
                "watched_at": "2014-08-06T06:54:36.859Z",
                "sharing": {
                    "twitter": true,
                    "mastodon": true,
                    "tumblr": false
                },
                "episode": {
                    "season": 1,
                    "number": 1,
                    "title": "Pilot",
                    "ids": {
                        "trakt": 16,
                        "tvdb": 349232,
                        "imdb": "tt0959621",
                        "tmdb": 62085
                    }
                },
                "show": {
                    "title": "Breaking Bad",
                    "year": 2008,
                    "ids": {
                        "trakt": 1,
                        "slug": "breaking-bad",
                        "tvdb": 81189,
                        "imdb": "tt0903747",
                        "tmdb": 1396
                    }
                }
            }

+ Request (application/json)

    Episode checkin if you don't have episode ids, but have show info. Send `show` and `episode` objects.

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "show": {
                    "title": "Breaking Bad",
                    "year": 2008,
                    "ids": {
                        "trakt": 1,
                        "tvdb": 81189
                    }
                },
                "episode": {
                    "season": 1,
                    "number": 1
                },
                "sharing": {
                    "twitter": true,
                    "mastodon": true,
                    "tumblr": false
                },
                "message": "I'm the one who knocks!"
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 3373536621,
                "watched_at": "2014-08-06T06:54:36.859Z",
                "sharing": {
                    "twitter": true,
                    "mastodon": true,
                    "tumblr": false
                },
                "episode": {
                    "season": 1,
                    "number": 1,
                    "title": "Pilot",
                    "ids": {
                        "trakt": 16,
                        "tvdb": 349232,
                        "imdb": "tt0959621",
                        "tmdb": 62085
                    }
                },
                "show": {
                    "title": "Breaking Bad",
                    "year": 2008,
                    "ids": {
                        "trakt": 1,
                        "slug": "breaking-bad",
                        "tvdb": 81189,
                        "imdb": "tt0903747",
                        "tmdb": 1396
                    }
                }
            }

+ Request (application/json)

    Episode checkin using absolute numbering (useful for Anime and Donghua). Send `show` and `episode` objects.

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "show": {
                    "title": "One Piece",
                    "year": 1999,
                    "ids": {
                        "trakt": 37696
                    }
                },
                "episode": {
                    "number_abs": 164
                },
                "sharing": {
                    "twitter": true,
                    "mastodon": true,
                    "tumblr": false
                },
                "message": "I'm the one who lights the fire!"
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 3373536622,
                "watched_at": "2019-01-20T06:54:36.859Z",
                "sharing": {
                    "twitter": true,
                    "mastodon": true,
                    "tumblr": false
                },
                "episode": {
                    "season": 9,
                    "number": 21,
                    "title": "Light the Fire of Shandia! Wiper the Warrior",
                    "ids": {
                        "trakt": 856373,
                        "tvdb": 362082,
                        "imdb": null,
                        "tmdb": null
                    }
                },
                "show": {
                    "title": "One Piece",
                    "year": 1999,
                    "ids": {
                        "trakt": 37696,
                        "slug": "one-piece",
                        "tvdb": 81797,
                        "imdb": "tt0388629",
                        "tmdb": 37854
                    }
                }
            }

+ Response 409 (application/json)

    There is already a checkin in progress.

    + Body

            {
                "expires_at": "2014-10-15T22:21:29.000Z"
            }

### Delete any active checkins [DELETE]
#### &#128274; OAuth Required
Removes any active checkins, no need to provide a specific item.

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 204

# Group Certifications

## List [/certifications/{type}]
Most TV shows and movies have a certification to indicate the content rating. Some API methods allow filtering by certification, so it's good to cache this list in your app.

> ### 🅽🅾🆃🅴
> _Only `us` certifications are currently returned._

+ Parameters
    + type (required, string, `movies`) ...

        + Values
            + `movies`
            + `shows`

### Get certifications [GET]
Get a list of all certifications, including names, slugs, and descriptions.

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Body

            {
                "us": [
                    {
                        "name": "G",
                        "slug": "g",
                        "description": "All Ages"
                    }, {
                        "name": "PG",
                        "slug": "pg",
                        "description": "Parental Guidance Suggested"
                    }, {
                        "name": "PG-13",
                        "slug": "pg-13",
                        "description": "Parents Strongly Cautioned - Ages 13+ Recommended"
                    }, {
                        "name": "R",
                        "slug": "r",
                        "description": "Mature Audiences - Ages 17+ Recommended"
                    }, {
                        "name": "Not Rated",
                        "slug": "nr",
                        "description": "Not Rated"
                    }
                ]
            }

# Group Comments
Comments are attached to any movie, show, season, episode, or list and can be a quick shout or a more detailed review. Each comment can have replies and can be liked. These likes are used to determine popular comments. Comments must follow these rules and your app should indicate these to the user. Failure to adhere to these rules could suspend the user's commenting abilities.

- Comments must be at least 5 words.
- Comments 200 words or longer will be automatically marked as a review.
- Correctly indicate if the comment contains spoilers.
- Only write comments in English - **This is important!**
- **Do not include** app specific text like (via App Name) or #apphashtag. This clutters up the comments and failure to clean the comment text could get your app blacklisted from commenting.

#### Possible Error Responses

| Code | Description |
|---|---|
| `401` | Invalid user
| `401` | User banned from commenting
| `404` | Item not found or doesn't allow comments
| `409` | Comment can't be deleted
| `422` | Validation errors

#### Validation Errors

If a comment doesn't pass validation, it returns a `422` HTTP error code and an array of validation errors in the response. The validation errors could include:

| Error Message |
|---|
| `must be at least 5 words` |
| `must be written in English` |

#### Comment Formatting

Comments support [**markdown**](https://en.wikipedia.org/wiki/Markdown) formatting so you'll want to render this in your app so it matches what the website does. In addition, we support inline spoiler tags like `[spoiler]text[/spoiler]` which you should also handle independent of the top level `spoiler` attribute.

## Comments [/comments]

### Post a comment [POST]
#### &#128274; OAuth Required &#128513; Emojis
Add a new comment to a movie, show, season, episode, or list. Make sure to allow and encourage *spoilers* to be indicated in your app and follow the rules listed above.

#### JSON POST Data
| Key | Type | Default | Value |
|---|---|---|---|
| item <span style="color:red;">*</a> | object | | `movie`, `show`, `season`, `episode`, or `list` object. (see examples &#8594;) |
| `comment` <span style="color:red;">*</a> | string |  | Text for the comment. |
| `spoiler` | boolean | `false` | Is this a spoiler? |
| `sharing`  | object | | Control sharing to any connected social networks. (see below &#8595;) |

#### Sharing
The `sharing` object is optional and will apply the user's settings if not sent. If `sharing` is sent, each key will override the user's setting for that social network. Send `true` to post or `false` to not post on the indicated social network. You can see which social networks a user has connected with the [**/users/settings**](/reference/users/settings) method.

| Key | Type |
|---|---|
| `twitter` | boolean |
| `tumblr` | boolean |
| `medium` | boolean |

+ Request (application/json)

    Movie comment by sending a standard `movie` object.

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "movie": {
                    "title": "Guardians of the Galaxy",
                    "year": 2014,
                    "ids": {
                        "trakt": 28,
                        "slug": "guardians-of-the-galaxy-2014",
                        "imdb": "tt2015381",
                        "tmdb": 118340
                    }
                },
                "comment": "Oh, I wasn't really listening.",
                "spoiler": false,
                "sharing": {
                    "twitter": true,
                    "tumblr": false,
                    "medium": true
                }
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 190,
                "parent_id": 0,
                "created_at": "2014-08-04T06:46:01.000Z",
                "updated_at": "2014-08-04T06:46:01.000Z",
                "comment": "Oh, I wasn't really listening.",
                "spoiler": false,
                "review": false,
                "replies": 0,
                "likes": 0,
                "user_stats": {
                    "rating": null,
                    "play_count": 1,
                    "completed_count": 1
                },
                "user": {
                    "username": "sean",
                    "private": false,
                    "name": "Sean Rudford",
                    "vip": true,
                    "vip_ep": false,
                    "ids": {
                        "slug": "sean"
                    }
                },
                "sharing": {
                    "twitter": true,
                    "tumblr": false,
                    "medium": true
                }
            }

+ Request (application/json)

    Show comment by sending a standard `show` object.

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "show": {
                    "title": "Breaking Bad",
                    "ids": {
                        "trakt": 1,
                        "slug": "breaking-bad"
                    }
                },
                "comment": "Welcome to Pollos Hermanos.",
                "spoiler": false
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 190,
                "parent_id": 0,
                "created_at": "2014-08-04T06:46:01.000Z",
                "updated_at": "2014-08-04T06:46:01.000Z",
                "comment": "Welcome to Pollos Hermanos.",
                "spoiler": false,
                "review": false,
                "replies": 0,
                "likes": 0,
                "user_stats": {
                    "rating": null,
                    "play_count": 1,
                    "completed_count": 1
                },
                "user": {
                    "username": "sean",
                    "private": false,
                    "name": "Sean Rudford",
                    "vip": true,
                    "vip_ep": false,
                    "ids": {
                        "slug": "sean"
                    }
                }
            }

+ Request (application/json)

    Season comment by sending a standard `season` object.

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "season": {
                    "ids": {
                        "trakt": 16
                    }
                },
                "comment": "Hello Gus.",
                "spoiler": false
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 190,
                "parent_id": 0,
                "created_at": "2014-08-04T06:46:01.000Z",
                "updated_at": "2014-08-04T06:46:01.000Z",
                "comment": "Hello Gus.",
                "spoiler": false,
                "review": false,
                "replies": 0,
                "likes": 0,
                "user_stats": {
                    "rating": null,
                    "play_count": 1,
                    "completed_count": 1
                },
                "user": {
                    "username": "sean",
                    "private": false,
                    "name": "Sean Rudford",
                    "vip": true,
                    "vip_ep": false,
                    "ids": {
                        "slug": "justin"
                    }
                }
            }

+ Request (application/json)

    Episode comment by sending a standard `episode` object.

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "episode": {
                    "ids": {
                        "trakt": 16
                    }
                },
                "comment": "I am the danger!",
                "spoiler": false
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 190,
                "parent_id": 0,
                "created_at": "2014-08-04T06:46:01.000Z",
                "updated_at": "2014-08-04T06:46:01.000Z",
                "comment": "I am the danger!",
                "spoiler": false,
                "review": false,
                "replies": 0,
                "likes": 0,
                "user_stats": {
                    "rating": null,
                    "play_count": 1,
                    "completed_count": 1
                },
                "user": {
                    "username": "sean",
                    "private": false,
                    "name": "Sean Rudford",
                    "vip": true,
                    "vip_ep": false,
                    "ids": {
                        "slug": "justin"
                    }
                }
            }

+ Request (application/json)

    List comment by sending a standard `list` object.

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "list": {
                    "ids": {
                        "trakt": 16
                    }
                },
                "comment": "I want candy.",
                "spoiler": false
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 190,
                "parent_id": 0,
                "created_at": "2014-08-04T06:46:01.000Z",
                "updated_at": "2014-08-04T06:46:01.000Z",
                "comment": "I want candy.",
                "spoiler": false,
                "review": false,
                "replies": 0,
                "likes": 0,
                "user_stats": {
                    "rating": null,
                    "play_count": 1,
                    "completed_count": 1
                },
                "user": {
                    "username": "sean",
                    "private": false,
                    "name": "Sean Rudford",
                    "vip": true,
                    "vip_ep": false,
                    "ids": {
                        "slug": "sean"
                    }
                }
            }

## Comment [/comments/{id}]

+ Parameters
    + id (required, integer, `417`) ... A specific comment ID.

### Get a comment or reply [GET]
####  &#128513; Emojis
Returns a single comment and indicates how many replies it has. Use [**/comments/:id/replies**](/reference/comments/replies/) to get the actual replies.

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Item-ID: 1337
            X-Item-Type: show

    + Body

            {
                "id": 1,
                "parent_id": 0,
                "created_at": "2010-11-03T06:30:13.000Z",
                "comment": "Agreed, this show is awesome. AMC in general has awesome shows.",
                "spoiler": false,
                "review": false,
                "replies": 1,
                "likes": 0,
                "user_stats": {
                    "rating": 8,
                    "play_count": 1,
                    "completed_count": 1
                },
                "user": {
                    "username": "justin",
                    "private": false,
                    "name": "Justin Nemeth",
                    "vip": true,
                    "vip_ep": false,
                    "ids": {
                        "slug": "justin"
                    }
                }
            }

### Update a comment or reply [PUT]
#### &#128274; OAuth Required &#128513; Emojis
Update a single comment. The OAuth user must match the author of the comment in order to update it. If not, a `401` HTTP status is returned.

#### JSON POST Data
| Key | Type | Default | Value |
|---|---|---|---|
| `comment` | string |  | Text for the comment. |
| `spoiler` | boolean | `false` | Is this a spoiler? |

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

    + Body

            {
                "comment": "Agreed, this show is awesome. AMC in general has awesome shows and I can't wait to see what they come up with next.",
                "spoiler": false
            }

+ Response 200 (application/json)

    + Body

            {
                "id": 1,
                "parent_id": 0,
                "created_at": "2010-11-03T06:30:13.000Z",
                "updated_at": "2010-11-13T06:30:13.000Z",
                "comment": "Agreed, this show is awesome. AMC in general has awesome shows and I can't wait to see what they come up with next.",
                "spoiler": false,
                "review": false,
                "replies": 1,
                "likes": 0,
                "user_stats": {
                    "rating": null,
                    "play_count": 1,
                    "completed_count": 1
                },
                "user": {
                    "username": "justin",
                    "private": false,
                    "name": "Justin Nemeth",
                    "vip": true,
                    "vip_ep": false,
                    "ids": {
                        "slug": "justin"
                    }
                }
            }

### Delete a comment or reply [DELETE]
#### &#128274; OAuth Required
Delete a single comment. The OAuth user must match the author of the comment in order to delete it. If not, a `401` HTTP status code is returned. The comment must also be less than 2 weeks old or have 0 replies. If not, a `409` HTTP status is returned.

+ Request (application/json)

    + Headers

            Authorization: Bearer [access_token]
            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 204

## Replies [/comments/{id}/replies]

+ Parameters
    + id (required, integer, `417`) ... A specific comment ID.

### Get replies for a comment [GET]
#### &#128275; OAuth Optional &#128196; Pagination &#128513; Emojis

Returns all replies for a comment. It is possible these replies could have replies themselves, so in that case you would just call [**/comments/:id/replies**](/reference/comments/replies/) again with the new comment `id`.

> ### 🅽🅾🆃🅴
> _If you send OAuth, replies from blocked users will be automatically filtered out._

+ Request (application/json)

    + Headers

            trakt-api-version: 2
            trakt-api-key: [client_id]

+ Response 200 (application/json)

    + Headers

            X-Pagination-Page: 1
            X-Pagination-Limit: 10
            X-Pagination-Page-Count: 10
            X-Pagination-Item-Count: 100

    + Body

            [
                {
                    "id": 19,
                    "parent_id": 1,
                    "created_at": "2014-07-27T23:06:59.000Z",
                    "updated_at": "2014-07-27T23:06:59.000Z",
                    "comment": "Season 2 has really picked up the action!",
                    "spoiler": true,
                    "review": false,
                    "replies": 0,
                    "likes": 0,
                    "user_stats": {
                        "rating": 8,
                        "play_count": 1,
                        "completed_count": 1
                    },
                    "user": {
[...]
